html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:16px;
	overflow: hidden;
}

a {
	color: #ffffff;
}

.selected {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 3px solid rgba(127,255,255,0.75);
}

.selected.details {
	box-shadow:none;
	border: 0;
}

.movie img {
	display: block;
	height:100%;
}

#info {
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

#videoPlayer {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: black;
	display: none;
}

#videoPlayer video {
	width:100%;
}

#details {
	position: absolute;
	top:55px;
	left:45%;
	width:45%;
	height:100%;
	color:#eee;
	opacity: 0;
	-vendor-animation-duration: .2s;
  -vendor-animation-delay: 0s;
  -vendor-animation-iteration-count: infinite;
}

#details h1 {
	margin-top:0;
	font-size:1.75em;
}

#details p.description {
	font-size:1.250em;
	font-weight:300;
}

#details p.releaseDate,
#details p.director {
	font-weight: 300;
	font-size:1em;
	margin:8px 0;
	line-height: 100%;
}

#details p.trailer a {
	background: rgb(122,188,255);
	background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
	background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
	text-decoration: none;
	display: block;
	width:33%;
	line-height:200%;
	padding:1%;
	text-align: center;
	border-radius: 4px;
	font-size:1.250em;
	margin:35px 0;
}